.cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.container-bg {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.card-img {
    height: 300px;
    width: 300px;
}

.card-bg {
    text-align: center;
    width: 400px;
    margin: auto;
}